.container {
    margin: 10px auto;
    border: 5px solid #333;
    width: 800px;
    height: auto;

    left: 0;
    right: 0;
    padding: 10px;
}

.kotak {
    margin-right: 20px;
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
    float: left;
}
